body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #094949;
    border-radius: 10px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header img.logo {
    max-width: 150px;
}

h1 {
    font-size: 24px;
    margin-top: 10px;
}

h2, h3 {
    margin-top: 20px;
}

.item-section {
    background-color: #037aa1;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    background-color: #58b809;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #00b4d8;
}

#cart-section {
    background-color: #001ec7;
    padding: 20px;
    border-radius: 8px;
}

#cart {
    list-style: none;
    padding: 0;
}

#cart li {
    margin-bottom: 10px;
}
